@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0px 30px;
  font-family: 'Roboto', sans-serif;
}

.header {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	margin: 10px 20px;
	color: #111;
}

a:hover {
	color: red;
}